/* finalProject.css */
*{   
    font-weight: bold;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
padding: 10px;
    
}
header, body, footer {
background-color: rgb(211, 245, 245);
}

h1, h2 {
color: midnightblue;
}

p {
text-align: center;
color: darkslategrey;
font-size: 20px;
}

.buttons {
text-align: center;
padding: 5px 5px 6px 6px;
}

input {
font-size: 20px;
}

button {
background-color: lightblue;
color: midnightblue;
text-align: center;
font-size: 20px;
border-radius: 8px;
}

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}

#weather {
    background-color: honeydew;
    border-color: midnightblue;
    border-style: solid;
    border-width: 3px;
    margin: auto;
    width: 35%;
}

#gameboard {
    height: 85vh;
    width: 85vh;
}